// Grid
$hwidth: 1200px;
$width: 1010px;

// Colors
$primary: #003e7e;      // Dark Blue
$secondary: #b3d670;    // Lime Green
$accent: #f2f5f8;       // Light Grey
$black: #000000;
$placeholder: $black;
$white: #ffffff;
$red: #660000;
$redmedium: #d44d4d;

// Fonts
$font1: "proxima-nova",sans-serif;
$fs: 22;
$icon: "rxcut";

// Media Queries
$phone: 440px;
$ipad: 756px;
$desktop: 980px;
$large: 1400px;